html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body {
  background-color: #a81a1a;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  margin: -0.5px;
}

/* tab navigation */
nav {
  width: 100%;
  background-color: #191a1a00;
  color: white;
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  position: absolute;
  z-index: 1;
}

nav .topbar {
  display: flex;
  flex-wrap: wrap;
}

nav .topbar img {
  height: 25px;
  width: 90px;
  margin: 25px;
  margin-top: 15px;
}

nav .topbar .tab {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

nav .topbar .tab p {
  margin-left: 20px;
}

span {
  font-weight: bold;
}

nav .topbar .tab p:hover {
  color: rgb(139, 138, 138);
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
  cursor: pointer;
}

.back {
  position: relative;
  height: 100vh;
  width: 100%;
}

.back video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -100;
  top: 50%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  font-family: "Roboto", sans-serif;
  position: absolute;
  color: white;
  font-size: 2.8em;
  top: 90px;
  left: 90px;
}

.back img {
  position: absolute;
  top: 350px;
  left: 50px;
  height: 100px;
  width: 450px;
}

.play {
  position: absolute;
  top: 500px;
  left: 50px;
  height: 60px;
  width: 190px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  border: transparent;
  padding-left: 40px;
}

.info {
  position: absolute;
  top: 500px;
  left: 250px;
  height: 60px;
  width: 220px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  border: transparent;
  color: white;
  background-color: rgba(128, 128, 128, 0.774);
}

button:hover {
  cursor: pointer;
  background-color: #cc020281;
}

.buttons img {
  position: absolute;
  top: 513px;
  left: 70px;
  height: 35px;
}
